{% extends 'base.html.twig' %}

{% block title %}{% trans %}login.title{% endtrans %}{% endblock %}

{% block body %}
    <main class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="card">
                    <div class="card-content">
                        <h1 class="title">{% trans %}login.title{% endtrans %}</h1>
                        <form action="{{ path('app_login') }}" method="post">
                            {% if error %}
                                <div class="notification is-danger">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}
                            {# username #}
                            <div class="field">
                                <label class="label"
                                       for="username">{{ 'login.log_in_form.labels.username'|trans }}</label>
                                <div class="control">
                                    <input
                                            class="input" type="text"
                                            name="username" id="username"
                                            placeholder="{{ 'login.log_in_form.placeholders.username'|trans }}"
                                            value="{{ last_username }}"
                                            required autofocus
                                    >
                                </div>
                            </div>
                            {# password #}
                            <div class="field">
                                <label class="label"
                                       for="password">{{ 'login.log_in_form.labels.password'|trans }}</label>
                                <div class="control">
                                    <input
                                            class="input" type="password"
                                            name="password" id="password"
                                            placeholder="{{ 'login.log_in_form.placeholders.password'|trans }}"
                                            required
                                    >
                                </div>
                            </div>
                            {# remember me #}
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox" name="_remember_me">
                                        {{ 'login.log_in_form.labels.remember_me'|trans }}
                                    </label>
                                </div>
                            </div>
                            {# csrf #}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            {# submit #}
                            <nav class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <button type="submit"
                                                class="button is-success">{% trans %}login.log_in_form.submit{% endtrans %}</button>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <a href="{{ path('app_register') }}"
                                       class="button is-warning">{{ 'index.register'|trans }}</a>
                                </div>
                            </nav>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
